@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lilita+One&family=Martel&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    font-family: Lilita One;
}

body {
    background-color: azure;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1rem;
    font-weight: 300;
}

.container {
   background-color: #8d8d8d;
   color: #edf2f4;
   padding: 2em;
   width: 85%;
   margin: 0 auto;
}

.submit {
    border: none;
    background-color: blue;
    padding: 0.5em;
    border-radius: 1em;
    margin-top: 1em;
    transition: 0.4s ease;
 }

 .submit:hover {
    background-color: greenyellow;
    color: #edf2f4;
    transform: scale(1.1);
    transition: 0.4s ease;
 }

 form {
    margin: 2em auto;
    width: 20em;
 }

/* wraps around each label/input */
 .form-group {
 display: flex;
 justify-content: space-between;
 color: black;
 font-size: xx-large;
 margin-bottom: 1.5em;
 outline: none;
 }

 input {
    border: none;
    border-bottom: 2px solid black;
    background-color: rgb(240, 244, 234);
    height: 2em;

 }

 .mad-lib{
    width: 20em;
    margin: 2em auto;
 }

 b{
    color: black;
 }